@page
@model _232252s_Assn2_appsec.Pages.ChangePasswordModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
}
<script src="https://www.google.com/recaptcha/api.js?render=6LcSB9UqAAAAAFWF9noOJhVjJVSCSQIF3kXYQihL"></script>

<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('6LcSB9UqAAAAAFWF9noOJhVjJVSCSQIF3kXYQihL', {action: 'login'}).then(function(token) {
            document.getElementById("recaptchaResponse").value = token;
        });
    });
</script>

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Login</h1>
            <h1>@HttpContextAccessor.HttpContext.Session.GetString("Email")</h1>

            <form method="post">
                <!-- Display all validation errors -->
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label class="form-label" asp-for="changePassword.Originalpassword">Original Password</label>
                    <input type="password" asp-for="changePassword.Originalpassword" class="form-control" />
                    <span asp-validation-for="changePassword.Originalpassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label" asp-for="changePassword.NewPassword">Password</label>
                    <input type="password" asp-for="changePassword.NewPassword" class="form-control" />
                    <span asp-validation-for="changePassword.NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="changePassword.ConfirmPassword">ConfirmPassword</label>
                    <input type="password" asp-for="changePassword.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="changePassword.ConfirmPassword" class="text-danger"></span>
                </div>

                <input type="hidden" id="recaptchaResponse" name="g-recaptcha-response">

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
